$sizes-icon: 64px;


.wikitable {
  display: block;
  overflow: auto;
}

.armorytable {
  display: block;
  overflow: auto;
  table-layout: fixed;

  td, th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  td:nth-child(2), td:nth-child(5), td:nth-child(6), td:nth-child(7){
    text-align: center;
  }

  th[scope="col"] {
    background-color: #1A2433;
  }

}

img[class="image64"] {
  width: auto;
  height: $sizes-icon;
  max-width: 100%;
}

img[class="image96"] {
  width: auto;
  height: 96px;
  max-width: 100%;
}