$widths: (
  desktop: (10%, 8%, 10%, 10%, 6%, 8%, 10%, auto),
);

.wikitable {
  display: block;
  overflow: auto;
}

.armorytable {
  display: block;
  overflow: auto;
  table-layout: fixed;

  td, th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  td:nth-child(2), td:nth-child(5), td:nth-child(6), td:nth-child(7){
    text-align: center;
  }

  @for $i from 1 through 7 {
    th:nth-child(#{$i}), 
    td:nth-child(#{$i}) {
        width: nth(map-get($widths, desktop), $i);
    }
  }

  th[scope="col"] {
    background-color: #1A2433;
  }

}
