$sizes-icon: 64px;

$widths: (
  desktop: (10%, 8%, 8%, 10%, 10%, 10%, auto),
  mobile: (10%, 10%, 10%, 12%, 16%, 10%, auto)
);

.wikitable td, .wikitable th {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.wikitable td:nth-child(2), td:nth-child(5), td:nth-child(6){
  text-align: center;
}

.wikitable img[class="image64"] {
  width: auto;
  height: $sizes-icon;
  max-width: 100%;
}

.wikitable th[scope="col"] {
  background-color: #1A2433;
}

@for $i from 1 through 7 {
    .wikitable th:nth-child(#{$i}), 
    .wikitable td:nth-child(#{$i}) {
        width: nth(map-get($widths, desktop), $i);
    }
}

.wikitable {
  @media (max-width: 768px) {
    th, td {
      font-size: 10px;
    }

    @for $i from 1 through 7 {
      .wikitable th:nth-child(#{$i}), 
      .wikitable td:nth-child(#{$i}) {
          width: nth(map-get($widths, mobile), $i);
      } 
    }

    img[class="image64"] {
      width: $sizes-icon * 0.5;
    }
  }
}
